.middle-section {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto 5vh auto !important;
}

.section-title {
    margin: 2rem 0 2rem 0;
    text-align: center;
    font-size: 28px;
}

.certifications-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin: auto;
    box-sizing: border-box;
}

.certifications-card {
    padding: 15px 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.certifications-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
}

.certifications-card-title {
    font-size: 1.1rem;
    text-align: center;
    color: #343A40;
    margin-bottom: 0.5rem;
}

.certifications-card-institute {
    font-size: 0.95rem;
    text-align: center;
    color: #6C757D;
}

.certifications-card-buttons {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 2rem;
}

.certifications-card-button-1 {
    height: 2.5rem;
    border-radius: 20px;
    background-color: #343A40;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    align-content: center;
}

.certifications-card-button-2 {
    height: 2.5rem;
    border-radius: 20px;
    background-color: #CED4DA;
    color: #343A40;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    align-content: center;
}

.certifications-view-all {
    display: block;
    width: 20%;
    margin: 3rem auto 3rem auto;
    padding: 12px 50px;
    border-radius: 25px;
    background-color: #343A40;
    text-align: center;
}

.certifications-view-all-text {
    color: white;    
    text-decoration: none;
}