:root {
    --black-1: #212529;
    --black-2: #343A40;
    --black-3: #495057;
    --dark-grey-1: #6C757D;
    --dark-grey-2: #ADB5BD;
    --dark-grey-3: #CED4DA;
    --light-grey-1: #DEE2E6;
    --light-grey-2: #E9ECEF;
    --light-grey-3: #F8F9FA;
    --white: #ffffff;
}


.middle-section {
    box-sizing: border-box; 
    width: 90vw;
    max-width: 1200px;
    margin: 6rem auto;
}