.hero-section {
    position: relative;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #00201a;
}

.hero-text p {
    margin: 1.5rem 0 2rem;
    color: #505050;
    line-height: 1.5;
}

.hero-socials {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    border-radius: 50px;
    
    color: white;
}

.social-btn.linkedin {
    background: #003cb5;
}

.social-btn.github {
    background: #00201a;
}

.img-fluid {
    width: 80%;
}

.hero-image {
    max-width: 300px;
    border-radius: 50%;
}

@media (min-width: 992px) {
    .hero-section .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1rem;
    }
}

@media (max-width: 767px) {
    .hero-socials {
        justify-content: center;
    }

    .hero-section {
        padding: 1rem 1rem;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .hero-text h1 {
        font-size: 1.75rem;
        line-height: 1.2;
    }
}