.middle-section-top {
    width: 90vw;
    max-width: 1200px;
    margin: 11vh auto 0 auto !important;
}

.middle-section-bottom {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto 12vh auto !important;
}

.section-title {
    margin: 3rem 0 2rem 0;
    text-align: center;
    font-size: 28px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: auto;
    box-sizing: border-box;
}

.project-card {
    padding: 20px 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-card-title {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    text-align: center;
    color: #343A40;
}

.project-card-description {
    font-size: 0.95rem;
    text-align: center;
    color: #6C757D;
}

.project-card-buttons {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 0.5rem;
}

.project-card-button-1 {
    height: 3rem;
    border-radius: 20px;
    background-color: #343A40;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    align-content: center;
}

.project-card-button-2 {
    height: 3rem;
    border-radius: 20px;
    background-color: #CED4DA;
    color: #343A40;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    align-content: center;
}

.project-view-all {
    display: block;
    width: 20%;
    margin: 3rem auto 3rem auto;
    padding: 12px 50px;
    border-radius: 25px;
    background-color: #343A40;
    text-align: center;
}

.project-view-all-text {
    color: white;    
    text-decoration: none;
}