.middle-section {
    width: 90vw;
    max-width: 1200px;
    margin: 11vh auto 12vh auto !important;
}

.section-title {
    margin: 3rem 0 2rem 0;
    text-align: center;
    font-size: 28px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: auto;
    box-sizing: border-box;
}

.project-card {
    padding: 20px 10px;
    border-radius: 20px;
    background-color: var(--light-grey-2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-card-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 5px 12px;
}

.project-card-logo {
    height: 50px;
    border-radius: 10px;
    background-color: black;
}

.project-card-hr {
    margin: 0.4rem 0 1rem 0;
    border: none;
    border-top: 2px solid #000000;
    width: 100%;
}

.project-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-card-title {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    text-align: center;
    color: var(--black-2);
}

.project-card-description {
    font-size: 0.95rem;
    text-align: center;
    color: var(--dark-grey-1);
}

.project-card-buttons {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 0.5rem;
}

.project-card-button-1 {
    height: 3rem;
    border-radius: 20px;
    background-color: var(--black-2);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    line-height: 1;
    align-content: center;
}

.project-card-button-2 {
    height: 3rem;
    border-radius: 20px;
    background-color: var(--dark-grey-3);
    color: var(--black-2);
    text-align: center;
    text-decoration: none;
    line-height: 1;
    align-content: center;
}

.project-view-all {
    display: block;
    width: 25%;
    margin: 1rem auto 2rem auto;
    padding: 15px 50px;
    border-radius: 20px;
    background-color: var(--black-2);
    text-align: center;
}

.project-view-all-text {
    color: var(--white);    
    text-decoration: none;
}

@media (max-width: 1200px) {
    .project-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .project-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .middle-section {
        margin: auto !important;
    }
}


@media (max-width: 600px) {
    .project-cards {
        grid-template-columns: 1fr;
    }
}